* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: fantasy;
}

body,
html {
  height: 100%;
}

.wrapper {
  height: 100%;
  display: grid;
  grid-template-columns: 200px 1fr;
  grid-template-rows: 60px 1fr 60px;
}

.header {
  grid-column: 1 / 3;
  grid-row: 1 / 2;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: mediumturquoise;
}
.header p {
  font-weight: bold;
  font-size: 2em;
}

.sidebar {
  background: sandybrown;
  grid-column-start: 1 / 2;
  grid-row: 2 / 3;
  display: flex;
  flex-direction: column;
}

.sidebar div {
  padding: 10px 5px;
  text-align: center;
}

.sidebar div:hover {
  background-color: black;
  color: brown;
  transition: all 0.3s;
}

.content {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  background-image: url(http://images6.fanpop.com/image/photos/37600000/Spongebob-and-Patrick-spongebob-squarepants-37623335-1920-1080.jpg);
  background-position: center;
  background-size: cover;
}

.footer {
  background-color: mediumaquamarine;
  grid-column: 1 / 3;
  grid-row: 3 / 4;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer p {
  font-size: 0.8em;
  color: white;
}
